*{
    padding: 0px;
    margin: 0px;
}
@media print{
    header{
        display: none;
    } 
    .dados-queda{
        display: none;
    }
    .botao{
        display: none;
    }
    button{
        display: none;
    }
    hr{
        display: none;
    }
    table{
        width: 70%;
        height: 100%;
        font-size: 30px;
    }
    table, tr, td, th{
        border-collapse: collapse;
        border: solid 1px;
        text-align: center;
    }
    .final{
        width: 65px;
    }

}
@media (max-width: 480px){
    header{
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 3px;
    }
    header button{
        background-color: white;
        border: none;
    }
    h3{
        margin: 5px;
    }
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Courier New', Courier, monospace;
    }
    strong{
        color: rgba(0, 0, 0, 0.774);
        font-size: 18px;
    }
    .dados-queda{
        margin-top: 8%;
    }
    .dados{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .queda-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }
    .queda-2e3{
        display: flex;
        gap: 2px;
    }
    .queda-2{
        display: flex;
        gap: 1px;
        flex-direction: column;
        align-items: center;
    }
    .queda-3{
        display: flex;
        align-items: center;
        gap: 1px;
        flex-direction: column;
    }
    .queda-4e5{
        display: flex;
        gap: 2px;
    }
    .queda-4{
        display: flex;
        align-items: center;
        gap: 1px;
        flex-direction: column;
    }
    .queda-5{
        display: flex;
        align-items: center;
        gap: 1px;
        flex-direction: column;
    }
    input{
        width: 130px;
        outline: none;
    }
    .tabela{
        display: flex;
        justify-content: center;
        margin-top: 8%;
    }
    table, tr, td, th{
        border-collapse: collapse;
        border: solid 1px;
        text-align: center;
    }
    span{
        display: flex;
        margin: 10px;
    }
    img{
        width: 30px;
    }
    .botao{
        display: flex;
        justify-content: space-around;
    }
    .impressao{
        margin-top: 8%;
        width: 130px;
        height: 25px;
        border-radius: 8px;
        border: solid 1px;
    }
    .tbl-2{
        display: flex;
        justify-content: center;
    }
    
    .res{
        width: 225px;
    }
    .soma{
        width: 58px;
    }
}



