.tabela{
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
table{
    border: 1px ;
    font: 17px calibri;

}
table, th, td{
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    width: 100vh;
    height: 100vh;
}
input{
    border: none;
    outline: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    height: auto;
    width: auto;
    left: auto;
    margin: 10%;
}
.btn input{
    color: white;
    width: 25vh;
    height: 5vh;
    border-radius: 3vh;
    background-image: linear-gradient(to right, #431bd6, #2899f5);
}
